In [2]:
# Import the necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Read the CSV file into a DataFrame

df = pd.read_csv('mymoviedb.csv', lineterminator='\n')

# Display the first few rows of the DataFrame
df.head()
df.columns

Index(['Release_Date', 'Title', 'Overview', 'Popularity', 'Vote_Count',
       'Vote_Average', 'Original_Language', 'Genre', 'Poster_Url'],
      dtype='object')

In [11]:
# To give a summry about the CSV file
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9827 entries, 0 to 9826
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Release_Date       9827 non-null   object
 1   Title              9827 non-null   object
 2   Overview           9827 non-null   object
 3   Popularity         9827 non-null   float64
 4   Vote_Count         9827 non-null   int64
 5   Vote_Average       9827 non-null   float64
 6   Original_Language  9827 non-null   object
 7   Genre              9827 non-null   object
 8   Poster_Url         9827 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 691.1+ KB

In [10]:
# To convert the release Release date from string to date
df["Release_Date"]=pd.to_datetime(df["Release_Date"])

#After converting to get only the dates                                                                
df['Release_Date']=df['Release_Date'].dt.year
df['Release_Date'].dtypes
df.columns
df.info()

# Dropping the columns
cols = ['Overview', 'Original_Language', 'Poster_Url']
df.drop(cols, axis=1, inplace=True)
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9827 entries, 0 to 9826
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Release_Date  9827 non-null   int32
 1   Title         9827 non-null   object
 2   Popularity    9827 non-null   float64
 3   Vote_Count    9827 non-null   int64
 4   Vote_Average  9827 non-null   float64
 5   Genre         9827 non-null   object
dtypes: float64(2), int32(1), int64(1), object(2)
memory usage: 422.4+ KB

KeyError: "['Overview', 'Original_Language', 'Poster_Url'] not found in axis"

In [8]:
# To find the duplicate values
df.duplicated()
df.head()

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,1970,Spider-Man: No Way Home,5083.954,8940,8.3,"Action, Adventure, Science Fiction"
1,1970,The Batman,3827.658,1151,8.1,"Crime, Mystery, Thriller"
2,1970,No Exit,2618.087,122,6.3,Thriller
3,1970,Encanto,2402.201,5076,7.7,"Animation, Comedy, Family, Fantasy"
4,1970,The King's Man,1895.511,1793,7.0,"Action, Adventure, Thriller, War"

In [25]:
# To find mean max min 25% for the numerical values
df.describe()

                        Release_Date   Popularity    Vote_Count  Vote_Average
count                           9827  9827.000000   9827.000000   9827.000000
mean   2006-09-23 11:05:51.317798144    40.326088   1392.805536      6.439534
min              1902-04-17 00:00:00    13.354000      0.000000      0.000000
25%              2000-10-18 00:00:00    16.128500    146.000000      5.900000
50%              2011-09-13 00:00:00    21.199000    444.000000      6.500000
75%              2017-11-22 00:00:00    35.191500   1376.000000      7.100000
max              2024-07-03 00:00:00  5083.954000  31077.000000     10.000000
std                              NaN   108.873998   2611.206907      1.129759

In [17]:
# To generate the 5 values of Genre
df["Genre"].head()

0    Action, Adventure, Science Fiction
1              Crime, Mystery, Thriller
2                              Thriller
3    Animation, Comedy, Family, Fantasy
4      Action, Adventure, Thriller, War
Name: Genre, dtype: object

0    Action, Adventure, Science Fiction
1              Crime, Mystery, Thriller
2                              Thriller
3    Animation, Comedy, Family, Fantasy
4      Action, Adventure, Thriller, War
Name: Genre, dtype: object

In [23]:

# To remove the whitespaces in the Genre for the start and the end 
df['Genre']=df['Genre'].str.strip()
df["Genre"].head()
# To remove the the whitespaces in the middle and regex=regular expression
df['Genre']=df['Genre'].str.replace("","",regex=False)
df["Genre"].head()

0    Action, Adventure, Science Fiction
1              Crime, Mystery, Thriller
2                              Thriller
3    Animation, Comedy, Family, Fantasy
4      Action, Adventure, Thriller, War
Name: Genre, dtype: object

In [11]:
print(df.columns)
df.head()

Index(['Release_Date', 'Title', 'Popularity', 'Vote_Count', 'Vote_Average',
       'Genre'],
      dtype='object')

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,1970,Spider-Man: No Way Home,5083.954,8940,8.3,"Action, Adventure, Science Fiction"
1,1970,The Batman,3827.658,1151,8.1,"Crime, Mystery, Thriller"
2,1970,No Exit,2618.087,122,6.3,Thriller
3,1970,Encanto,2402.201,5076,7.7,"Animation, Comedy, Family, Fantasy"
4,1970,The King's Man,1895.511,1793,7.0,"Action, Adventure, Thriller, War"